@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: color 0.5s ease-in-out, background 1.5s ease-in-out;
}

body {
  transition: none;
}

a {
  text-decoration: underline;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
