@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes background-scroll {
  0% {
    background-position: 0px 0px, 0px 0px;
  }
  100% {
    background-position: 1500px 2000px, 0px 0px;
  }
}

* {
  transition: color 0.5s ease-in-out, background-color 1.5s ease-in-out;
}

.bgInfiniteScroll {
  animation: background-scroll 90s linear infinite;
}