@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(14, 14, 20);
  --scrollbar-color: transparent;
}

.MuiTypography-root,
.MuiBox-root,
.MuiBox-root *::before,
.MuiBox-root *::after {
  transition: color 0.75s ease-in-out, background 0.75s ease-in-out, box-shadow 0.75s ease-in-out, fill 0.75s ease-in-out, opacity 0.75s ease-in-out, border 0.75s ease-in-out  !important;
}

.colorize {
  transition: color 0.75s ease-in-out;
}

svg {
  transition: all 0.75s ease-in-out;
}

a {
  text-decoration: underline;
  transition: color 0.75s ease-in-out;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

* ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

* {
  scrollbar-color: var(--scrollbar-color) whitesmoke;
  transition: scrollbar-color 0.43s ease-in-out;
}